[package]
name = "rust_lib_aria"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib", "staticlib"]

[lints.rust]
unexpected_cfgs = { level = "warn", check-cfg = ['cfg(frb_expand)'] }

[dependencies]
aiscript = { git = "https://github.com/poppingmoon/aiscript-rs", rev = "484364a8f5dd4626c6d712a01365c01ee467fd09" }
flutter_rust_bridge = "=2.11.1"
futures = "0.3"
indexmap = "2.3"
serde_json = { version = "1.0", features = ["preserve_order"] }
tokio = { version = "1", features = ["rt"] }
uuid = { version = "1.10", features = ["v4"] }
