name: CI

on:
  pull_request:
  push:
    branches-ignore:
      - l10n-main
  workflow_dispatch:

jobs:
  get-flutter-version:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    outputs:
      flutter-version: ${{ steps.get-flutter-version.outputs.version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Get Flutter version from .fvmrc
        id: get-flutter-version
        run: >
          echo version=$(grep flutter .fvmrc | cut -d ":" -f2|cut -d "\"" -f2)
          >> $GITHUB_OUTPUT

  format:
    runs-on: ubuntu-latest

    needs: get-flutter-version

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Format
        run: >
          dart format
          $(find . -name '*.dart'
          -not -name '*.freezed.dart'
          -not -name '*.g.dart'
          -not -name '*.gen.dart'
          )

      - name: Suggest changes
        if: github.event_name == 'pull_request'
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          fail_level: error

      - name: Check diff
        if: github.event_name != 'pull_request'
        run: git diff --exit-code

  analyze:
    runs-on: ubuntu-latest

    needs: get-flutter-version

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Analyze
        uses: invertase/github-action-dart-analyzer@e981b01a458d0bab71ee5da182e5b26687b7101b # v3.0.0
        with:
          fatal-infos: true
          custom-lint: true

  test:
    runs-on: ubuntu-latest

    needs: get-flutter-version

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Test
        run: flutter test

  integration-test-ios:
    runs-on: macos-26

    needs: get-flutter-version

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Update Rust
        run: rustup update

      - name: Start simulator
        uses: futureware-tech/simulator-action@dab10d813144ef59b48d401cd95da151222ef8cd # v4
        with:
          model: iPhone 17

      - name: Integration test
        uses: nick-fields/retry@ce71cc2ab81d554ebbe88c79ab5975992d79ba08 # v3.0.2
        with:
          timeout_minutes: 60
          max_attempts: 3
          command: flutter test integration_test --ignore-timeouts

  check-i18n-sorting:
    runs-on: ubuntu-latest

    needs: get-flutter-version

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true

      - name: Get dependencies
        run: flutter pub get

      - name: Sort i18n files
        run: |
          for file in $(ls lib/i18n/aria/*.i18n.yaml); do
            dart run script/sort_yaml.dart $file
          done

      - name: Suggest changes
        if: github.event_name == 'pull_request'
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          fail_level: error

      - name: Check diff
        if: github.event_name != 'pull_request'
        run: git diff --exit-code

  check-build-diff:
    runs-on: ubuntu-latest

    needs: get-flutter-version

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: 'stable'
          flutter-version: ${{ needs.get-flutter-version.outputs.flutter-version }}
          cache: true

      - name: Run build_runner
        run: dart run build_runner build -d

      - name: Suggest changes
        if: github.event_name == 'pull_request'
        uses: reviewdog/action-suggester@aa38384ceb608d00f84b4690cacc83a5aba307ff # v1.24.0
        with:
          fail_level: error

      - name: Check diff
        run: git diff --exit-code
